.c-table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.c-table table {
    width: 100%;
    justify-content: center;
}

.c-table table td {
    border-bottom: solid #bdbdbd thin;
    padding: 3px;
    font-family: "Comic Sans MS";
}

.c-table table th {
    border-bottom: solid #bdbdbd thin;
    background: #bdbdbd;
    padding: 15px;
    color: white;
    text-align: end;
    border-radius: 5px;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.c-total {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background: deeppink;
    border-radius: 5px;
    display: flex;
}

#total {
    color: white;
    font-family: Impact;
}

.d-option {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.d-option #op1 {
    padding-top: 25%;
    color: white;
}

.d-option #op2 {
    padding-top: 25%;
    color: white;
}

.d-option #upDate{
    padding-top: 15%;
}

.d-option #upDate button{
    border-radius: 3px;
    background: tomato;
    color: white;
    padding: 5px;
}

.c-detail a img{
    width: 50px;
    height: 50px;
}

.c-table .icon-edit{
    width: 20px;
}
.c-table .icon{
    width: 20px;
}
.c-table .icon-edit button{
    background: none;
    border: none;
    cursor: pointer;
}

.c-address{
    width: 100%;
}

.c-address input[type="text"]{
    margin-top: 5px;
    width: 50%;
    margin-bottom: 15px;
}

#nono{
    color: #f2fadc;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 10px;
}

#12345{
    width: 500px;
}