body {
    margin: 0px;
    padding: 0px;
    background-color: #F9F6F1;
}

* {
    font-family: 'Microsoft JhengHei UI','Microsoft JhengHei', 微軟正黑體, 微软正黑体, Gothic, Helvetica, Arial, MingLiU_HKSCS, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

#content {
    position: relative;
    top: 25px;
    z-index: 100;
}

.SITE_STRUCTURE {
    max-width: 980px;
    min-width: 365px;
    margin: 0px auto;
}

h1, h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Microsoft JhengHei UI','Microsoft JhengHei', 微軟正黑體, 微软正黑体, Gothic, MingLiU_HKSCS, sans-serif;
    color: #436A78;
}

p {
    color: #606060;
    letter-spacing: 0.05em;
}

#topDIV_ul {
    height: 60px;
    padding-left: 0px;
    list-style: outside none none;
}

.web_title {
    float: left;
    font-size: 40px;
    font-family: 'Verdana';
    color: #0F2B5C;
    padding: 8px;
    font-style: bold;
}

#top_nav {
    position: absolute;
    left: 0px;
    height: 54px;
    width: 100%;
    z-index: 200;
    background-color: #7300e6;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.2);
}

#top_nav ul {
    list-style: outside none none;
    padding-left: 0px;
    padding-top: 0px;
    height: 100%;
}

#top_nav ul li {
    height: 100%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#nav_items li {
    float: left;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    max-height: 100px;
    border-bottom: 10px solid #C65C2B;
    border-left: 1px solid rgba(93, 93, 93, 0.46);
    background-color:  #7300e6 ;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#nav_login_btn {
    min-width: 80px;
}

.tabs a {
    text-decoration: none;
    text-align: center;
    height: 100%;
    width: 100%;
}

.nav_word {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}


.nav_word a {
    color: #FFF;
    font-size: 17px;
    font-family: 'Jura', 'Microsoft JhengHei UI','Microsoft JhengHei', 微軟正黑體, 微软正黑体, MingLiU_HKSCS, sans-serif;
}

.tabs_item {
    width: 100%;
    display: none;
    padding: 50px 0;
}

.content {
    font-family: 'Microsoft JhengHei UI','Microsoft JhengHei', 微軟正黑體, 微软正黑体, Gothic, Helvetica, Arial, MingLiU_HKSCS, sans-serif;
    color: #333333;
    padding: 0px;
    min-width: 365px;
    margin-top: 15px;
}

#message_table{
    border: 1px solid black;
    table-layout: fixed;
    width: 1000px;
    
}

#edit_table{
    border: 0px;
    table-layout: fixed;
    margin-left:auto;
    margin-right:auto;
}

#add_table{
    border: 0px;
    table-layout: fixed;
    margin-left:auto;
    margin-right:auto;
}

#message_table th{
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
}

#message_table td{
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
}

#message_table th a{
    color: royalblue;
    text-decoration: none;
}

#message_table th a:hover{
    color: red;
    text-decoration: underline;
}

#message_table td a{
    color: royalblue;
    text-decoration: none;
}

#message_table td a:hover{
    color: red;
    text-decoration: underline;
}

.edit_table_btn{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
    border-radius: 0px;
    color: burlywood;
    font-family: Impact;
    font-size: larger;
}

.myButton {
    -moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
    -webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
    background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
    background-color:#dbe6c4;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #b2b8ad;
    display:inline-block;
    cursor:pointer;
    color:#757d6f;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ced9bf;
}

.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
    background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
    background-color:#9ba892;
}
.myButton:active {
    position:relative;
    top:1px;
}

#btn {
    position:relative;
    float:right;
    margin-left:auto;
    margin-right:0;
}

#message {
    max-width: 1000px;
    width: 1000px ;
    margin-top: auto;
    margin-left: auto ;
    margin-right: auto ;
}

#message2 {
    max-width: 1000px;
    width: 1000px ;
    margin-top: auto;
    margin-left: auto ;
    margin-right: auto ;
}

#message3 {
    max-width: 1000px;
    width: 1000px ;
    margin-top: auto;
    margin-left: auto ;
    margin-right: auto ;
}

#nav_items li.tab_current {
    color: #fff;
    background-color: #C65C2B;
}

#nav_items li.tab_other {
    color: #fff;
}

#nav_items li.tab_other:hover {
    color: #fff;
    background-color: #8AC007;
}

@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    src: local('Jura Regular'), local('Jura-Regular'),
        url('../fonts/Jura-Regular.woff2') format('woff2'),
        url('../fonts/Jura-Regular.woff') format('woff');
}

.select_main {
    max-width: 1000px;
    margin-top: 125px;
}

#update_order {
    max-width: 1000px;
    margin-top: -60px;
}

#obtain_report {
    max-width: 1000px;
    margin-top: -60px;
}

#order_detail {
    max-width: 1000px;
    margin-top: 0px;
}

.maintain_client {
    max-width: 1000px;
    margin-top: 30px;
}

.maintain_product {
    max-width: 1000px;
    margin-top: 30px;
}

.maintain_order {
    max-width: 1000px;
    margin-top: 30px;
}

.item_border {
    background-color: #dbe6c4;
    background-size: auto 100%;
    height: 100%;
}

.item_div {
    float: left;
    width: 60%;
    max-width: 33.33%;
    height: 250px;
    padding: 25px;
    overflow: hidden;
}

.item_div:hover {
    padding: 20px;
}

.item_div2 {
    float: left;
    width: 100%;
    max-width: 33.33%;
    height: 250px;
    padding: 25px;
    overflow: hidden;
    margin-left: 110px;
}

.item_div2:hover {
    padding: 20px;
}

.item_word_border {
    position: relative;
    margin: 0px 5px;
}

.item_word {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -20px;
}

.item_word2 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -20px;
}

.item_word_displayTime {
    text-align: center;
    margin-top: 120px;
    color: #606060;
    letter-spacing: 0.05em;
    font-size: 10px;
}

.item_word h2 {
    font-family: 微軟正黑體, Gothic, Helvetica, "Microsoft JhengHei",
        微软正黑体, sans-serif;
    margin-top: 0px;
}

.item_word2 #sp{
    font-family: 微軟正黑體, Gothic, Helvetica, "Microsoft JhengHei",
        微软正黑体, sans-serif;
    margin-top: 35px;
}

.item_word2 h2 {
    font-family: 微軟正黑體, Gothic, Helvetica, "Microsoft JhengHei",
        微软正黑体, sans-serif;
}

.item_word h2, .item_word p {
    -webkit-transform: translateY(50px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transform: translateY(50px);
    transition: opacity 0.2s, transform 0.3s;
}

.item_word2 h2, .item_word2 p {
    -webkit-transform: translateY(50px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transform: translateY(50px);
    transition: opacity 0.2s, transform 0.3s;
}